@{
    ViewContext.HttpContext.Response.Headers.Append("Vary", "Hx-Request");
    ViewContext.HttpContext.Response.Headers.Append("Vary", "Hx-History-Restore-Request");
    ViewContext.HttpContext.Response.Headers.Append("Vary", "Hx-Boosted");
}
@if (ViewContext.HttpContext.Request.Headers["Hx-Boosted"].Contains("true"))
{
    <main id="page-content" role="main" hx-boost="true" hx-target="#page-content">
        @RenderBody()
    </main>
    return;
}
@if (ViewContext.HttpContext.Request.Headers["Hx-Request"].Contains("true"))
{
    @RenderBody()
    return;
}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Daggerheart Charsheet</title>
    <link rel="stylesheet" href="~/css/pico.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/pico.colors.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/DaggerheartCharsheet.Mvc.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/highlight-js/styles/github-dark.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<script src="~/lib/htmx/htmx.2.min.js"></script>
<header>
    <div class="nav-container">
        <nav>
            <ul>
                <li>
                    <a href="~/">
                        <h1>DaggerheartCharsheet</h1>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="~/users/login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="body" id="body">
    <main id="page-content" role="main" hx-boost="true" hx-target="#page-content">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <p style="text-align: center">
        <span>
            <a hx-post="@Url.Action("SetLanguage", "Localization", new { culture = "ru" })">Русский</a>
            <a hx-post="@Url.Action("SetLanguage", "Localization", new { culture = "en" })">English</a>
        </span>
        <br/>
        <span>
            Daggerheart is a property of Darrington Press, LLC. This site is not affiliated with Darrington Press in any
            way.
        </span>
    </p>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>